@import '../../scss/colors.scss';

.repoProfile{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:10px;
}

.repoDetails{
  margin:20px;
  display:flex;
  flex-direction:column;

 a:hover{
   color: $app-blue;
 }
}

.devBack{
  margin: 20px 15px 20px 15px;
}

.devtitle{
  padding:5px;
  font-size:20px;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: $app-light-grey;
  color:white;
}

.gitLink{
  margin-top:10px;
  font-size: 30px;
  a:hover{
    color:$app-dark-blue;
  }
}

.description {
  padding-bottom: 20px;
}

.language {
  font-weight: 500;
  color: $app-blue;
  font-size: 24px;
  padding-bottom: 15px;
}