@import '../../scss/colors.scss';

.footer{
    font-size: 20px;
    padding:3px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:$app-light-grey;
    color:white;

    a{
        font-size:30px;
        margin-left:3px;
        padding:2px;

        &:hover{
            color:$app-dark-blue;
        }
    }

}